# Session 1 - type, variable

### Values and Types

In [ ]:
a = 5
print(type(a)) # int
b = 3.14
print(type(b)) # float
c = "Hello"
print(type(c)) # str
d = True
print(type(d)) # bool

### Numbers

In [2]:
a = 7
b = 100,000,000     # 100_000_000
c = 3.14
d = 0b1101  # binary
e = 0o755   # octal
f = 0x1a      # hexadecimal
print(a, b, c, d, e, f)

7 (100, 0, 0) 3.14 13 493 26

### Variables

In [ ]:
name = "Alice"
age = 30
height = 1.75
is_student = False

print(name, age, height, is_student)

### Naming Rules

In [ ]:
2things = 1          # invalid
my-name = “alice”    # invalid
Name = ”bob”         # case-sensitive
name = ”charlie”
int = 5              # keyword
float = 3.14         # keyword

### Arithmetic Operations

In [ ]:
addition = 7 + 3
subtraction = 5.5 - 2.5
multiplication = 3 * 4
division = 10 / 3
floor_division = 10 // 3
modulus = 10 % 3
exponentiation = 2 ** 3
result = (2 + 3) * 4
print(addition, subtraction, multiplication, division, floor_division, modulus, exponentiation, result)

### Type Conversion

In [ ]:
num_int = 5
num_float = 2.0
result = num_int + num_float                    # “5” + 2.0 TypeError
print("Result data type:", type(result))

num_str = "42"
num_int = int(num_str)
result = num_int + 10
print("Result:", result)

### Comparison and Logical Operators

In [ ]:
x = 5
y = 10
z = 15
result = x < y and y < z

print(result)

### Variables and Assignment

In [ ]:
x = 5
y = x + 3
x = 7

print(x, y)

### Console Output

In [ ]:
print("Hello, World!")
print("a", "b", "c", sep="-", end=" ")
print("d", "e", "f", sep="-")
print("A", "B", "C", sep=" -> ", end=" -> END")

# Lab

1. Create a string variable called 'course_name' with the value "Python for Non-Majors", and print its length.

hint: len()

2. Rename the following invalid variable names to follow Python naming rules: 1st_name, @age, Full-Name, class, list.

3. Calculate the result of 5 multiplied by 3, divided by 2, and raised to the power of 4. Use parentheses to ensure correct precedence.


4. Print the values of three variables on the same line, separated by commas and a space.

	name = "Alice", age = 30, city = "New York"

5. Create a variable containing a string and reassign it to an integer.

6. Check the data type of a float variable and convert it to an integer.

7. Given an integer and a float, calculate their sum and product. Store the results in two separate variables and print them.

8. Use comparison and logical operators to evaluate a condition. The comparison should check if x is less than y, and if y is less than z. Print the value of result to the console.

	x = 10, y = 20, z = 30

# Session 2 - string

### string

In [ ]:
single_quote = 'Hello, World!'
double_quote = "Hello, World!"
multiline_string = '''This is a
                      multiline string'''

my_string[0] = "h"     # TypeError

print(single_quote, double_quote, multiline_string)

### Concatenation and Repetition

In [ ]:
greeting = "Hello" + " " + "World"
line = "-" * 20

print(greeting)
print(line)

### String Functions and Methods

In [ ]:
s = "hello, world!"
length = len(s)
uppercase = s.upper()
replaced = s.replace("world", "there")
clean_str = s.strip().lower().replace(',', '').replace('!', '')  # chaining

print(length, uppercase, replaced, clean_str)

### Indices and Slices

In [ ]:
text = "Python"
first_char = text[0]
last_char = text[-1]
slice1 = text[1:4]
slice2 = text[::-1]

print(first_char, last_char, slice1, slice2)

### Format Method

In [ ]:
name = "Alice"
age = 30
output = "{} is {} years old.".format(name, age)

print(output)

### Format Specification and Field Width

In [ ]:
x = 10
y = 5
output = "{0:<5} + {1:>5} = {2:^5}".format(x, y, x + y)

print(output)

### Floating-Point Numbers and Percentages

In [ ]:
pi = 3.14159265
percentage = 0.85
formatted_pi = "{:.2f}".format(pi)
formatted_percentage = "{:.1%}".format(percentage)

print(formatted_pi)
print(formatted_percentage)

### Escape Sequences

In [ ]:
text = "She said, \"Hello!\""
multiline = "Line 1\nLine 2"

print(text)
print(multiline)

### Keyboard Input

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Hello,", name, "you are", age, "years old.")

### Indentation

In [ ]:
def print_hello():
    print("Hello, world!")
    print("This is a properly indented block of code.")

print_hello()

### Line Joining

In [ ]:
# Explicit line joining
long_string = "This is a very long string that we want to \
break into multiple lines for better readability."

# Implicit line joining
colors = [    "red",    "blue",    "green",]

print(long_string)
print(colors)

# Lab

1. Create a string of 10 asterisks using repetition, and print the length of the string.

	text = “*”

2. Convert a string to title case and print the result. hint: title()

	text = "hello world"

3. Slice a string to obtain every second character, starting from the first character.

	text = "Python is fun!"

4. Create a string containing double quotes and a newline character.

	text = This is a string with "double quotes" and a newline

5. Use the 'sep' argument in the print() function to print a list of items separated by commas.

	Items = apple, banana, orange

6. Get user input for a floating-point number and print its square.

7. Create a string 'email' and use string methods to replace '@' with ' [at] ' and '.' with ' [dot] '.

	email = "john.doe@example.com"

hint: replace() in str